<!DOCTYPE html>

<nav>
  <div id="mobile-nav" class="mobile-nav">
    <div class="burger" onclick="burgerClick()">
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
    </div>
  </div>
  <ul id='navbar' class="navbar" style="transform: translateX(100%)">
    <li><a href="{% link index.md %}" class="nav-link" onclick="listClick()">Home</a></li>
    <li><a href="{% link blog.md %}" class="nav-link" onclick="listClick()">Archive</a></li>
    <li><a href="{% link projects.md %}" class="nav-link" onclick="listClick()">Projects</a></li>
  </ul>
</nav>

<!-- Script for Nav Bar -->

<script src="/assets/js/nav.js"></script>