<!DOCTYPE html>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/../../style.css">

<html id="archive">
  <a name="top"></a>
    <head>  
        {% include navbar.html %} 
    </head>
    <div class="archive-welcome">
        <div class="archive-img">
            <div class="archive-img-content">
                <h1>Blog Archive</h1>
            </div>
        </div>
    </div>
    <body id="archive-body">
        {{ content }}
    </body>
	{% include footer.html %}
</html>