<!DOCTYPE html>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/../../style.css">

<html id="archive">
  <a name="top"></a>
    <head>  
        {% include navbar.html %} 
    </head>
    <div class="archive-welcome">
        <div class="archive-img">
            <div class="archive-img-content">
                <h1>Blog Archive</h1>
            </div>
        </div>
    </div>
    <body id="archive-body">
        <h2 class="blog-posts-header">All Posts</h2>
        {{ content }}

        {% for post in site.posts %}
        <div class="blog-posts-container">
            <a class="blog-posts-text" href="{{post.url}}">{{post.title}}</a><a> - {{ post.date | date: "%b %-d, %Y" }}</a>
        </div>
        {% endfor %}
        
        {% include analytics.html %}
    </body>
	{% include footer.html %}
</html>